*{
    box-sizing: border-box;
}
body{
    background-color: rgb(112, 13, 179);
    padding: 20px; 
}

html{
    scroll-behavior: smooth;
}

#navsite{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 20rem;
    z-index: 999;
    background-color: #09944f;
    text-align: center;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}

ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    text-align: center;
    padding-top: 15px; 
    padding-bottom: 15px; 
}
a{
    text-decoration: none;
    color: white;
} 

li{
    display: inline;
    padding: 15px; 
    font-size: 20px; 
    color: white; 
}

li:hover, a:hover{
    color: rgb(255, 0, 0);
}

#container{
    position: absolute;
    width: 100%;
    top: 100px; 
}

h1{
    text-align: center;
    font-size: 50px; 
}

h2{
    text-align: center;
    font-size: 20px;
    padding-bottom: 35px;
}

#container{
    text-align: center;
    position: relative;
    padding-bottom: 355px;
}
#selfie{
    border-radius: 50%;
}
#selfie{
    animation: wheel 50s infinite linear;
}

#projects{
    padding-top: 400px;
}
.me{
    border: 2px solid orange; 
    width: 50%;
    margin: 0 auto; 
}
span{
    border-bottom: 2px dotted orange; 
}

/*structure for the grid layout of projects */ 
.pic{
    height: 150px; 
    width: 240px;    
    text-align: center; 
}
.row{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    text-align: center;
}
.column{
    text-align: center;
}
.content{
    position: relative;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.content:hover .overlay{
    opacity: 1; 
}

/*Animations*/ 
@keyframes wheel{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

