body{
    background-color: rgb(112, 13, 179);
}

html{
    scroll-behavior: smooth;
}

#navsite{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 20rem;
    z-index: 999;
    background-color: #09944f;
    text-align: center;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}

ul{
    list-style-type: none;
    margin: 0; 
    padding: 0;
    text-align: center;
    padding-top: 15px; 
    padding-bottom: 15px; 
}
a{
    text-decoration: none;
    color: white;
} 

li{
    display: inline;
    padding: 15px; 
    font-size: 20px; 
    color: white; 
}

li:hover, a:hover{
    color: rgb(255, 0, 0);
}

#container{
    position: absolute;
    width: 100%;
    top: 100px; 
}

h1{
    text-align: center;
    font-size: 50px; 
}

h2{
    text-align: center;
    font-size: 20px;
    padding-bottom: 35px;
}

#container{
    text-align: center;
    position: relative;
    padding-bottom: 355px;
}
img{
    border-radius: 50%;
}
#selfie{
    animation: wheel 50s infinite linear;
}

#projects{
    padding-top: 400px;
}
.me{
    border: 2px solid orange; 
    width: 50%;
    margin: 0 auto; 
}
span{
    border-bottom: 2px dotted orange; 
}

#gridProj{
    display: grid;
    grid-gap: 225px;
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 175px 175px 175px;
    padding: 10px;
    padding-left: 95px;
    text-align: center;
}

.gridLink{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
}

@keyframes wheel{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}